{% extends "app/index.html" %}
{% load static %}
{% block title %}| School Profile{% endblock %}
{% block CSS %} 
{{block.super}}    
<link rel="stylesheet" href="{% static 'school_profile/css/school_profile.css' %}" />
{% endblock %}
    
{% block content %}    
    <br><br><br><br>
    <div class="container" style="display:grid;">

        <div id="left-aside-wrapper">
            <aside id="left-aside" class="left-aside">
                <!-- My Profile -->

                <div id="profile-card">
                    <div id="background"></div>
                    <div id="profile-info">
                        <img src="{{school_profile.school_profile_img.url}}" alt="">

                        <strong id="profile-name" class="letter-spacing">{{school_profile.school_name}}</strong>
                        <small>School Profile</small>
                        <span id="schoolName">Southern Province Galle</strong>
                    </div>
                </div>
                <div id="profile-groups" style="margin-top:270px;">
                    <section>

                        <ul class="group-list">
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 1</span>
                            </li>
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 2</span>
                            </li>
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 3</span>
                            </li>
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 4</span>
                            </li>
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 5</span>
                            </li>

                        </ul>
                    </section>
                </div>
            </aside>
        </div>
        <!--------------------- end of left column------------ -->
        <!--*********************** Middle colmn*********************** -->

        <div id="main-wrapper">
            <main id="main-section">
                <!-- **********Create post*********  -->
                <div id="share-box" class="share-box">
                    <div id="button-box" style="border-radius:10px;">

                        <button id="btn-post" style="border-radius:10px;">
                            <!--  link with  modal -->
                            <span class="fas fa-edit" aria-hidden="true" data-bs-toggle="modal"data-bs-target="#exampleModal"></span>
                            <span id="btn-text" type="button"  data-bs-toggle="modal"data-bs-target="#exampleModal">Create Post</span>
                        </button>
                        <button id="btn-picture" style="border-radius: 0px 10px 10px 0px;"  data-bs-toggle="modal"data-bs-target="#exampleModal">
                            <span class="fas fa-photo" aria-hidden="true"></span>
                        </button>
                        <button id="btn-document" style="border-radius:10px ;" data-bs-toggle="modal"data-bs-target="#exampleModal">
                            <span class="fas fa-file" aria-hidden="true"></span>
                        </button>
                    </div>

                </div>
             
                <!-- Modal create post -->
            <form>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea style="width: 100%; height: 90%;" required></textarea>
                                <input type="file" id="photoInput" accept="image/jpeg, image/png, image/jpg" required>
                                <button type="button" onclick="uploadPhoto()">Upload Photo</button>   
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary ">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                 <!-- end of modal -->
                 <br>
                <div id="feed-sort">
                    <div id="dropdown">
                        <ul class="navbar-nav mb-2 mb-lg-0 ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" style="width:15% ;">
                                    <button>Sort by</button>
                                </a>
                                <ul class="dropdown-menu ">
                                    <li><a class="dropdown-item" href="#"></i>Date</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#"></i> Name</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
   <!-- -------------end Create post----------- -->

                <!-----------------Post 1-------------- -->
                {% for post in posts %}
                <article>
                    <div id="post-author" style="border-radius: 10px ;">
                        <a href="#">
                            <div>
                                <img src="{{post.author.school_profile_img.url}}" alt="">
                                <div>
                                    <div>
                                        <strong id="post-author-name" class="letter-spacing">{{post.author.school_name}}</strong>
                                    </div>
                                    <span>{{post.date_posted}}</span>
                                </div>
                            </div>
                        </a>
                        <div>
                            <span class="fas fa-circle"></span>
                            <span class="fas fa-circle"></span>
                            <span class="fas fa-circle"></span>
                        </div>
                    </div>
                    <div id="post-data">
                       
                        <img src="{{post.post_image.url}}">
                        <p>
                            {{post.content}}
                        </p>

                        <p id="post-translation">
                                <button>Donate</button>
                            </p>

                    </div>
                    <div id="post-interactions">
                        <div id="interactions-btns">
                            <button>
                                <span class="far fa-comment-dots fa-flip-horizontal" aria-hidden="true"></span>
                                <span>Comment</span>
                            </button>
                        </div>
                    </div>
                </article>
                {% endfor %}
                <!----------------- end Post 1-------------- -->


            </main>
        </div>
        <!--------------- right side column ------------------>
        <aside id="right-aside" style="border-radius: 6px;">
            <div id="rec-section">
                <div class="right-text ">
                  
                    <h5 class="text-md-center fw-bold mb-3">School Details</h5>
                    <ul>
                      <li>
                        <p>School Name : {{school_profile.school_name}}</p>
                      </li>
                      <li>
                        <p>Description  : </p>     
                      </li> 
                      <li>
                        <p >Principal's Name : {{school_profile.principal_name}}</p>
                      </li> 
                      <li>
                        <p >Contact : 0912247841</p>
                      </li> 
                      <li>
                        <p >Email : schoolUkwattha@gmail.com </p>
                      </li> 
                      
                    </ul>
                    
                  
                  

                


                </div>
            </div>
        </aside>
        <br><br>

        
        <script src="./school-profile.js"></script>
           
{% comment %} </body> {% endcomment %}
{% endblock %}
{% block footer %}{% endblock %}

