{% extends "app/index.html" %}
{% load static %}
{% block title %}| School Profile{% endblock %}
{% block CSS %} 
{{block.super}}    
<link rel="stylesheet" href="{% static 'school_profile/css/school_profile.css' %}" />
{% endblock %}
    
{% block content %}    
    <br><br><br><br>
    <div class="container" style="display:grid;">

        <div id="left-aside-wrapper">
            <aside id="left-aside" class="left-aside">
                <!-- My Profile -->

                <div id="profile-card">
                    <div id="background"></div>
                    <div id="profile-info">
                        <img src="{{school_profile.school_profile_img.url}}" alt="">

                        <strong id="profile-name" class="letter-spacing">{{school_profile.school_name}}</strong>
                        <small>School Profile</small>
                        <!-- <span id="schoolName">{{school_profile.province}} Province {{school_profile.district}}</strong> -->
                    </div>
                </div>
                <div id="profile-groups" style="margin-top:270px;">
                    <section>

                        <ul class="group-list">
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 1</span>
                            </li>
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 2</span>
                            </li>
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 3</span>
                            </li>
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 4</span>
                            </li>
                            <li>
                                <span class="fas fa-hashtag" aria-hidden="true"></span>
                                <span>Post 5</span>
                            </li>

                        </ul>
                    </section>
                </div>
            </aside>
        </div>
        <!--------------------- end of left column------------ -->
        <!--*********************** Middle colmn*********************** -->

        <div id="main-wrapper">
            <main id="main-section">
                <!-- **********Create post*********  -->
                {% if user == school_profile.user %}
                <div id="share-box" class="share-box">
                    <div id="button-box" style="border-radius:10px;">

                        <button id="btn-post" style="border-radius:10px;">
                            <!--  link with  modal -->
                            <span class="fas fa-edit" aria-hidden="true" data-bs-toggle="modal"data-bs-target="#exampleModal"></span>
                            <span id="btn-text" type="button"  data-bs-toggle="modal"data-bs-target="#exampleModal">Create Post</span>
                        </button>
                        <button id="btn-picture" style="border-radius: 0px 10px 10px 0px;"  data-bs-toggle="modal"data-bs-target="#exampleModal">
                            <span class="fas fa-photo" aria-hidden="true"></span>
                        </button>
                        <button id="btn-document" style="border-radius:10px ;" data-bs-toggle="modal"data-bs-target="#exampleModal">
                            <span class="fas fa-file" aria-hidden="true"></span>
                        </button>
                    </div>

                </div>
                {% else %}
                {% endif %}
             
                <!-- Modal create post -->
            
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="text" name="title" class=" title mb-3" placeholder="Enter title here" required>
                                <textarea class="description mb-2" name="description" placeholder="Enter Description here ..." required ></textarea>
                                <input type="number" name="goal_donation" class=" title mb-3" placeholder="Enter Goal amount ..." required> 
                               
                                <input type="file" name="post_img" id="photoInput" accept="image/jpeg, image/png, image/jpg" required>
                                <input  class="text-end" type="button" onclick="uploadPhoto()" required value="Upload photo">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary ">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form> 
            
                 <!-- end of modal -->
                 <br>
                <div id="feed-sort">
                    <div id="dropdown">
                        <ul class="navbar-nav mb-2 mb-lg-0 ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" style="width:15% ;">
                                    <button>Sort by</button>
                                </a>
                                <ul class="dropdown-menu ">
                                    <li><a class="dropdown-item" href="#"></i>Date</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#"></i> Name</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
   <!-- -------------end Create post----------- -->

                <!-----------------Post 1-------------- -->
                {% for post in posts %}
                    {%  if post.is_approved %}
                <article>
                    <div id="post-author" style="border-radius: 10px ;">
                        <a href="#">
                            <div>
                                <img src="{{post.author.school_profile_img.url}}" alt="">
                                <div>
                                    <div>
                                        <strong id="post-author-name" class="letter-spacing">{{post.author.school_name}}</strong>
                                    </div>
                                    <span>{{post.date_posted}}</span>
                                </div>
                            </div>
                        </a>
                        <div>
                            <span class="fas fa-circle"></span>
                            <span class="fas fa-circle"></span>
                            <span class="fas fa-circle"></span>
                        </div>
                    </div>
                    <div id="post-data">
                        <h5 class="mt-1 mb-1 text-center postTitle">{{post.title}}.</h5>
                       
                 
                        <img src="{{post.post_image.url}}">
                        <p>
                            {{post.content}}
                        </p>
                    
                        <div class="progressbar ">
                            <h4 class="mb-3">Progress</h4>
                            <div class="progress" >
                              <div class="progress-bar" role="progressbar" style="width: {% widthratio post.current_amount post.donate_amount 100 %}%;" aria-valuenow="{% widthratio post.current_amount post.donate_amount 100 %}" aria-valuemin="0" aria-valuemax="100">{% widthratio post.current_amount post.donate_amount 100 %}%</div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6 mt-1">
                                  <p>Goal : USD {{post.donate_amount}}</p>
                              </div>
                              <div class="col-sm-6 mt-1">
                                  <p>Current : USD {{post.current_amount}}</p>
                              </div>
                          </div>
                          <div  class="text-center">
                            <button type="button" class="btn donate btn-outline-primary mb-3" onclick="window.location.href='{% url 'checkout' post.id %}'"
                            {% if post.donate_amount <= post.current_amount %}disabled{% endif %} >
                            {% if post.donate_amount <= post.current_amount %}Completed{% else %}Donate{% endif %}
                        </button>
                          </div>
                          
                        </div>

                    </div>
                    <div id="post-interactions">
                        <div id="interactions-btns">
                            <button>
                                <span class="far fa-comment-dots fa-flip-horizontal" aria-hidden="true"></span>
                                <span>Comment</span>
                            </button>
                        </div>
                    </div>
                </article>
                {% endif %}
                {% endfor %}
                <!----------------- end Post 1-------------- -->


            </main>
        </div>
        <!--------------- right side column ------------------>
        <aside id="right-aside" style="border-radius: 6px;">
            <div id="rec-section">
                <div class="right-text ">
                  
                    <h5 class="text-md-center fw-bold mb-3">School Details</h5>
                    <ul>
                      <li>
                        <p>School Name : {{school_profile.school_name}}</p>
                      </li>
                      <li>
                        <p>School Type : {{school_profile.school_type}}</p>
                      </li>
                      <li>
                        <p>Province : {{school_profile.province}}</p>
                      </li>
                      <li>
                        <p>District : {{school_profile.district}}</p>
                      </li>
                      <li>
                        <p>School Address : {{school_profile.address}}</p>
                      </li>
                      <!-- <li>
                        <p>Description  : {{school_profile.Description}}</p>     
                      </li>  -->
                      <li>
                        <p >Principal's Name : {{school_profile.principal_name}}</p>
                      </li> 
                      <li>
                        <p >Contact : {{school_profile.school_telephone}}</p>
                      </li> 
                      <li>
                        <p >Email : {{school_profile.school_email}} </p>
                      </li> 
                      
                    </ul>
                    
                  
                  

                


                </div>
            </div>
        </aside>
        <br><br>

        
        <script src="{% static 'school_profile/js/school_profile.js'%}"></script>
           
{% comment %} </body> {% endcomment %}
{% endblock %}
{% block footer %}{% endblock %}

