@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html {
  font-family: 'Poppins',sans-serif;
  scroll-behavior: smooth;
}

  /* form styles */

  .fotmStyle2{
    padding:20px 25px 40px 25px;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.5); 
  }
  #btn-agreement{
    border:1px solid white;
    background-color: #0d6efd;
    text-align: justify;
    color:#fff ;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}



/*********************************************************
                      media query
***********************************************************/

@media(max-width: 13478.9px){
  .formStyle{
    font-size: 15px;
    width: 105%;
    margin-left:0%;
    }
    
    .fotmStyle2 .text-center{
       font-size: 25px;
    }
    .form-control{
      font-size: 15px;
    }
    .btnLast{
      font-size: 15px;
    }
    
    
} 

@media(max-width: 1025.9px){
  .formStyle{
    font-size: 12px;
    width: 100%;
    margin-left:0px;
    }
    .form-select{
      font-size:12px ;
    }

    .fotmStyle2 .text-center{
  font-size: 20px;
    }
    .form-control{
      font-size: 10px;
    }
  
    .btnLast{
      font-size: 13px;
    }
}  

@media(max-width: 904px){
  .formStyle{
    font-size: 12px;
    width: 110%;
    margin-left:-5%;
    }
    .fotmStyle2 .text-center{
  font-size: 20px;
    }
    .form-control{
      font-size: 10px;
    }
}

@media(max-width: 767.9px){
  .formStyle{
    font-size: 12px;
    width: 50%;
    margin-left:23%;
    }
    .fotmStyle2 .text-center{
  font-size: 20px;
    }
    .form-control{
      font-size: 10px;
    }
}

@media(max-width: 880.9px){
 
    .fotmStyle2{
      width: 140%;
      margin-left: -20%;
    }
   
}
@media(max-width: 540.9px){
 
  .fotmStyle2{
    width: 180%;
    margin-left: -35%;
  }
 
}
  @media(max-width: 391.9px){
    .formStyle{
      font-size: 12px;
      width: 70%;
      margin-left:13%;
      }
    
      .fotmStyle2 .text-center{
    font-size: 20px;
      }
      .form-control{
        font-size: 10px;
      }
  }

  @media(max-width: 375.9px){
    .formStyle{
      font-size: 12px;
      width: 60%;
      margin-left:15%;
      }
    
      .fotmStyle2 .text-center{
    font-size: 20px;
      }
      .form-control{
        font-size: 10px;
      }
     
  }
  @media(max-width: 280.9px){
    .formStyle{
      font-size: 9px;
      width: 100%;
      margin-left:0px;
      }
      .fotmStyle2{
        width: 120%;
        margin-left: -10%;
      }
    
      .fotmStyle2 .text-center{
    font-size: 15px;
      }
      .form-control{
        font-size: 10px;
      }
     
  }



 


  



 