{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Raising Minds{% block title%}{% endblock %}</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- Favicons -->
        <link href="{% static 'app/images/RM-Icon.ico' %}" rel="icon">

        <!-- CSS -->
        {% block CSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/index.css' %}"/>
        {% endblock %}

        
    </head>
    <body>
    <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3 alwaysTop">
        <div class="container">
            <!-- Logo -->
            <div class="fixedLogo">
            <a href="#"><div class="logo" class="h-8 size bg-dark">Raising Minds</div></a>
            </div>
            <!-- Navbar toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse backGround" id="navbarCollapse">
            <!-- Nav -->
            <div class="navbar-nav mx-lg-auto">
                <a class="nav-item nav-link active" href="{% url 'index' %}" aria-current="page">Home</a>
                <a class="nav-item nav-link" href="#">About</a>
                <a class="nav-item nav-link" href="{% url 'projects' %}">Projects</a>
                <!-- <a class="nav-item nav-link" href="#">Features</a> -->
                <a class="nav-item nav-link" href="#">Team</a>
                <a class="nav-item nav-link" href="#">Contact</a>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="#">Community</a>
                {% else %}
                {% endif %}
            </div>

                <!-- Donate button -->
                <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                <a href="#" class="btn btnDonate-style btn-sm btn-primary w-full w-lg-auto custom-btn">
                    Donate
                </a>
                </div>
            </div>
            </div>
        </nav>
        <!-- End of Navigation bar -->

        {% block content %}

        <!-- Hero Section -->
        <section id="hero" class="d-flex align-items-center">
            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <h1>Welcome to <span>Raising Minds </span></h1>
                <h2>Join us in building a brighter future through your generous donations.</h2>
                {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="btn-get-started">Logout</a> &nbsp;&nbsp;&nbsp;
                {% else %}
                <div class="d-flex">
                  <!-- <a href="{% url 'login' %}" class="btn-get-started">Sign up</a> &nbsp;&nbsp;&nbsp; -->
                  <button type="button" href="{% url 'signup' %}" class="btn log-in btn-outline-primary">SIGN UP</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" href="{% url 'login' %}" class="btn log-in btn-outline-primary">LOG IN</button>
                  <!-- <a href="{% url 'signup' %}" class="btn-watch-video"><span>Log in</span></a> -->
                </div>
                {% endif %}
            </div>           
        </section>
        <!--End of Hero Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>About Us</h2>
              <p>At Raising Minds, we are dedicated to revolutionizing education, driven by a shared commitment to empower learners, foster innovation, and create a transformative impact in communities worldwide.</p>
            </div> 
            <div class="row content">
              <div class="col-lg-6">
                <div class="pt-4 pt-lg-0">
                  Welcome to Raising Minds, where our commitment to transforming 
                  education fuels our passion for a brighter future. Founded on 
                  the belief that every child deserves access to quality learning, we embark on a mission to redefine educational landscapes. Our journey is marked by a dedicated team of educators, innovators, and supporters who share a common vision: to empower students and communities through knowledge.
                </div>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                  At Raising Minds, we believe in the power of education to unlock 
                  potential and break barriers. Guided by this principle, we 
                  tirelessly work on diverse projects that span from enhancing 
                  infrastructure to implementing innovative teaching methodologies.                  
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
              </div>
            </div>
          </div>
        </section><!-- End About Section -->
    
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts section-bg">
          <div class="container">
    
            <div class="row justify-content-end">
    
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="countbox">
                  <h1 class="count" data-target="1254">0</h1>
                  <!-- <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span> -->
                  <p>Happy Donaters</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="countbox">
                  <h1 class="count" data-target="140">0</h1>
                  <!-- <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span> -->
                  <p>Projects Completed</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="countbox">
                  <h1 class="count" data-target="100">0</h1>
                  <!-- <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="2" class="purecounter"></span> -->
                  <p>Schools Helped</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="countbox">
                  <h1 class="count" data-target="450">0</h1>
                  <!-- <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2" class="purecounter"></span> -->
                  <p>Toal Funds Raised</p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Counts Section -->

        <!-- Ongoing Projects Section -->
        <section class="projects" id="ongoing" class="projects section-bg">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>Ongoing Projects</h2>
              <p>Embark on a journey with us as we forge ahead with passion and dedication in our ongoing projects, working tirelessly to bring positive change and elevate the educational landscape for future generations.</p>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                  <div class="project-image">
                    <img src="{% static "app/images/school.jpg" %}">
                  </div>
                  <h4><a href="">Montessori in Kakirewa</a></h4>
                  <p>Bogaswewa Samadhi Montessori with nearly 28 children had no place to learn.</p>
                  <div class="progressbar">
                    <h4>Progress</h4>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                          <p>Goal : LKR 100000</p>
                      </div>
                      <div class="col-sm-6">
                          <p>Current : LKR 35,000</p>
                      </div>
                  </div>
                  <button type="button" class="btn donate btn-outline-primary">Donate</button>
                </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="project-image">
                    <img src="{% static "app/images/school.jpg" %}">
                  </div>
                  <h4><a href="">Ukwatta Maha Vidyalaya</a></h4>
                  <p>Rebuilding the Drinking water supply and collecting funds for a Science Lab.</p>
                  <div class="progressbar">
                    <h4>Progress</h4>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                          <p>Goal : LKR 100,000</p>
                      </div>
                      <div class="col-sm-6">
                          <p>Current : LKR 50,000</p>
                      </div>
                  </div>
                  <button type="button" class="btn donate btn-outline-primary">Donate</button>
                </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="project-image">
                    <img src="{% static "app/images/school.jpg" %}">
                  </div>
                  <h4><a href="">Meegoda Kanishta Vidyalaya (Primary School)</a></h4>
                  <p>Collecting funds for a Computer Lab.</p>
                  <div class="progressbar">
                    <h4>Progress</h4>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                          <p>Goal : LKR 100000</p>
                      </div>
                      <div class="col-sm-6">
                          <p>Current : LKR 25,000</p>
                      </div>
                  </div>
                  <button type="button" class="btn donate btn-outline-primary">Donate</button>
                </div>
                </div>
              </div>
            </div>

          </div>
        </section><!-- End Ongoing Projects Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>Contact</h2>
              <p>Get in touch with us to explore collaboration opportunities, share your thoughts, or inquire about how you can join our mission in reshaping the future of education.</p>
            </div>
            <div class="row mt-5">
              <div class="col-lg-4">
                <div class="info">
                  <div class="address">
                    <i class="fa fa-map-marker"></i>
                    <h4>Location:</h4>
                    <p>Matara, Sri Lanka</p>
                  </div>

                  <div class="email">
                    <i class="fa fa-envelope"></i>
                    <h4>Email:</h4>
                    <p>raisingmindsfoundation@gmail.com</p>
                  </div>

                  <div class="phone">
                    <i class="fa fa-phone"></i>
                    <h4>Call:</h4>
                    <p>+9478 273 9316</p>
                  </div>

                </div>

              </div>

              <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row gy-2 gx-md-3">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group col-12">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group col-12">
                      <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3 col-12">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center col-12"><button type="submit">Send Message</button></div>
                    
                  </div>
                </form>

              </div>

            </div>

          </div>
        </section><!-- End Contact Section -->

        {% endblock %}

        <!-- ======= Footer ======= -->
        <footer id="footer">

          <div class="footer-top">
            <div class="container">
              <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                  <h3>Raising Minds</h3>
                  <p>
                    Matara <br>
                    Sri Lanka<br>
                    <br>
                    <strong>Phone:</strong> +9478 273 9316<br>
                    <strong>Email:</strong> raisingmindsfoundation</br>
                    @gmail.com<br>
                  </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                  <h4>Others</h4>
                  <ul>
                    <li><a href="#">Create School Profile</a></li>
                    <li><a href="#">Create Post</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                  </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                  <h4>Join Our Newsletter</h4>
                  <p>Stay connected with our mission and be the first to know about upcoming projects, events, and opportunities to make a difference</p>
                  <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
                </div>

              </div>
            </div>
          </div>

          <div id="rights">
            <div class="container d-md-flex py-4">

              <div  class="me-md-auto text-center text-md-start">
                <div class="copyright">
                  &copy; Copyright <strong><span>Raising Minds</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                  Designed by <a href=""> &lt;Coding Hamsters/&gt; </a>
                </div>
              </div>
            </div>
          </div>
        </footer><!-- End Footer -->

        <!-- Main JS File -->
        <script src="{% static 'app/js/main.js' %}"></script>
        </body>
</html>