{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raising Minds - Projects</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Favicons -->
    <link href="./img/RM-Icon.ico" rel="icon">

    <!-- Css  -->
    <link rel="stylesheet" href="{% static 'app/css/projects.css' %}">
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3 alwaysTop" style="position: fixed; top: 0; left: 0; width: 100%;">
        <div class="container">
            <!-- Logo -->
            <div class="fixedLogo">
                <a href="#"><div class="logo" class="h-8 size bg-dark">Raising Minds</div></a>
            </div>
            <!-- Navbar toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse backGround" id="navbarCollapse">
                <!-- Nav -->
                <div class="navbar-nav mx-lg-auto">
                    <a class="nav-item nav-link active" href="{% url 'index' %}" aria-current="page">Home</a>
                    <a class="nav-item nav-link" href="#">About</a>
                    <a class="nav-item nav-link" href="{% url 'projects' %}">Projects</a>
                    <a class="nav-item nav-link" href="#">Team</a>
                    <a class="nav-item nav-link" href="#">Contact</a>
                    <a class="nav-item nav-link" href="#">Community</a>
                </div>

                <!-- Donate button -->
                <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                    <a href="#" class="btn btnDonate-style btn-sm btn-primary w-full w-lg-auto custom-btn">
                        Donate
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- End of navigation bar -->


    <!-- Hero Section -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h1><span>Raising Minds </span> Projects</h1>
            <h2>Explore the impact of our commitment to education</h2>
            <div class="d-flex">
              <a href="#ongoing" class="btn-get-started">Ongoing Projects</a> &nbsp;&nbsp;
              <a href="#completed" class="btn-get-started">Completed Projects</a>
            </div>
        </div>        
    </section>
    <!--End of Hero Section -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>