{% extends "app/index.html" %}
{% load static %}
{% block CSS %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'user_profile/css/user_profile.css' %}">
{% endblock %}
     
{% block content %}
    <br><br><br>
  
   
    <!-- user settings form -->
    <div class="container">
    <form class="p-3 align-content-center " method="post" enctype="multipart/form-data">
    {% csrf_token %} 
        <h3 class="font-weight-bold py-3 mb-2 ">
            Account settings</h3>
       
            <!-- profile image -->
            <img src="{{profile.profile_image.url}}" class="image"><br><br>
            <div class="form-group  media align-items-center mb-3 ">
            <label class="mb-2">Change Profile Picture</label><br>
              
            <label class="btn btn-outline-secondary" for="photoHelp" id>
            <input type="file" class="chooseFile" name="image" accept="image/png,image/jpeg,image/jpg" id="photoHelp">
                    </label>
                    <div id="photoHelp" class="form-text">Please upload images in PNG, JPG, or JPEG format.</div>
                
            </div>
            <!-- profile image -->

            <!-- username -->
            <div class="form-group mb-3 col-5">
                <label class="form-label"for="username">username</label>
                <input type="text" class="form-control mb-1 " name="username" placeholder="{{user.username}}"id="username">
            </div>
              <!-- end username -->
            <div class="form-group mb-3 col-5 ">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="InputEmail1" placeholder="{{user.email}}" disabled>
            
            </div>
            {% comment %} <div class="form-group mb-3 col-5" >
              <label for="InputPassword1" class="form-label">New Password</label>
              <input type="password" class="form-control" id="InputPassword1">
            </div> {% endcomment %}
            <button type="submit" class="btn btn-primary">Save changes </button>
            
            <button type="reset" class="btn btn-primary "> &nbspReset&nbsp </button>
            
          </form>
          <a href="#">
            <button class="btn btn-danger ms-3 mb-3" type="button">Delete Account</button>
          </a>
          
    </div>
      
    <!-- end user settings form -->
{% endblock %}
