/* 
.logo {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #f3f5f8;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
} */

/* a {
    text-decoration: none;
} */

/*---------- dropdown--------- */
/* .img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80px;
    height: 100%;
    cursor: pointer;
    transition: color 0.3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    text-align: -webkit-match-parent;
    list-style-type: disc;  
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
} */
/* .img img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #e1e9ee;
    margin: 0;
    padding: 0;
    
} */
/* .img img:hover{
    filter: brightness(0.8);
} */
/* .padding{
    padding-top :14px !important; ;
    padding-bottom: 12px !important;
   
}
.dropdown-menu{
    background-color: #212529;
    border: #212529;
}
.dropdown-menu li a{
    color: #f3f5f8;
    background-color: #212529;
}

@media (max-width: 985px)  {
    .dropdown-toggle::after {
      content: "";
      margin: 0;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
    .img{
        width: 50px;    
    }
    .navbar-nav .dropdown-menu {
        background-color: rgb(36, 36, 36);
        position:static;
        margin-right: -190px;
        width: 200px;
        
    }
} */

/*------------ end dropdown ------------------------------------------------*/

.image{
 width: 190px;
 height:180px;
 border-radius: 100%;
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 -o-border-radius: 100%;
}
 /************************************************************ 
                         Media Query
 *************************************************************/
@media(max-width: 391.9px){
    .btn-danger{
        margin-top:2% ;
        width:200px ;
    }
    #username,#InputEmail1, #InputPassword1{
        width: 200px;
    }    
   
}








